@font-face {
  font-family: Open Sans Regular;
  src: url(fonts/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: Open Sans Bold;
  src: url(fonts/OpenSans/OpenSans-Bold.ttf);
}

@font-face {
  font-family: Open Sans Condensed Light;
  src: url(fonts/OpenSans_Condensed/OpenSans_Condensed-Light.ttf);
}
